<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Super Notes WiFi 3D</string>
	<key>CFBundleName</key>
	<string>Super Notes WiFi 3D</string>
	<key>CFBundleIdentifier</key>
	<string>com.shakuro.Super-Notes-WiFi-3D</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSCameraUsageDescription</key>
	<string>I want to use your CAMERA! Now!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>I want to use your PHOTO LIBRARY! This instant!</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>I want to use your MEDIA LIBRARY! Give it to me!</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb351245998633700</string>
			</array>
			<key>CFBundleURLName</key>
			<string>facebook scheme</string>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
		<string>fb-messenger-api</string>
		<string>fbapi</string>
		<string>fbshareextension</string>
	</array>
</dict>
</plist>
